<div class="about-sidebar">
    <div class="gradient-layer"></div>
    <div class="close-sidebar-widget close-button">
        <span class="fa-solid fa-xmark fa-fw"></span>
    </div>
    <div class="sidebar-inner">
        <div class="upper-box">
            <div class="image">
                <img src="/assets/images/resource/about-1i.jpg" alt="" />
            </div>
            <div class="content-box">
                <h3>About <span>{{#if settings.brandName}}{{settings.brandName}}{{else}}iLearningHubb{{/if}}</span></h3>
                <div class="text">At iLearningHubb, we spark curiosity and build confidence through playful learning.
                    Our programs are designed to inspire young minds, encourage growth, and make education truly joyful.
                </div>
                <ul class="about-sidebar_list">
                    <li>Engaging Curriculum</li>
                    <li>Expert Instructors</li>
                    <li>Safe Environment</li>
                    <li>Fun and Adventure</li>
                </ul>
            </div>
        </div>
        <div class="social-box">
            {{#if settings.socialFacebook}}<a href="{{settings.socialFacebook}}"><i class="fa-brands fa-facebook-f"></i></a>{{/if}}
            {{#if settings.socialTwitter}}<a href="{{settings.socialTwitter}}"><i class="fa-brands fa-twitter"></i></a>{{/if}}
            {{#if settings.socialYouTube}}<a href="{{settings.socialYouTube}}"><i class="fa-brands fa-youtube"></i></a>{{/if}}
            {{#if settings.socialInstagram}}<a href="{{settings.socialInstagram}}"><i class="fa-brands fa-instagram"></i></a>{{/if}}
            {{#if settings.socialLinkedIn}}<a href="{{settings.socialLinkedIn}}"><i class="fa-brands fa-linkedin"></i></a>{{/if}}
            {{#if settings.socialTikTok}}<a href="{{settings.socialTikTok}}"><i class="fa-brands fa-tiktok"></i></a>{{/if}}
        </div>
    </div>
</div>