<section class="slider-one pt-0">
    <div class="slider-one_down">
        <img src="assets/images/main-slider/down.png" alt="" />
    </div>
    <div class="main-slider swiper-container">
        <div class="swiper-wrapper">
            <!-- Slide -->
            <div class="swiper-slide">
                <div class="slider-one_icon-one" style="
                                    background-image: url(assets/images/main-slider/icon-1.png);
                                "></div>
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="slider-one_content col-lg-6 col-md-12 col-sm-12">
                            <div class="slider-one_content-inner">
                                <div class="slider-one_title">Quest for Knowledge</div>
                                <h1 class="slider-one_heading">Join Our Unique Youth's
                                    <span>Bootcamp</span>
                                    Experience.
                                </h1>
                                <div class="slider-one_text">Spark curiosity and build young minds with hands-on
                                    learning, teamwork, and fun in every session.</div>
                                <div class="slider-one_button d-flex align-items-center flex-wrap">
                                    <a href="#" class="theme-btn btn-style-one ticket-register-btn">
                                        <span class="btn-wrap">
                                            <span class="text-one">Register now <i class="flaticon-next-1"></i></span>
                                            <span class="text-two">Register now <i class="flaticon-next-1"></i></span>
                                        </span>
                                    </a>
                                    <div class="slider-one_seats">
                                        Remains:
                                        <span>56 Seats</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-one_image-column col-lg-6 col-md-12 col-sm-12">
                            <div class="slider-one_image-outer">
                                <div class="slider-one_shadow" style="
                                                    background-image: url(assets/images/main-slider/shadow.png);
                                                "></div>
                                <div class="slider-one_icon-two" style="
                                                    background-image: url(assets/images/main-slider/icon-2.png);
                                                "></div>
                                <div class="slider-one_icon-three" style="
                                                    background-image: url(assets/images/main-slider/icon-3.png);
                                                "></div>
                                <div class="slider-one_image">
                                    <div class="image-wrapper">
                                        <img src="assets/images/main-slider/about-0i.jpg" alt="" />
                                    </div>

                                </div>
                                <div class="slider-one_booking">
                                    <div class="slider-one_booking-title"><i><img
                                                src="assets/images/main-slider/fire.png" alt="" /></i>Early
                                        booking</div>
                                    <div class="time-countdown clearfix" data-countdown="2026/03/28"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-one_color-one"></div>
                <div class="slider-one_color-two"></div>
                <div class="slider-one_color-three"></div>
                <div class="slider-one_color-four"></div>
            </div>


        </div>
    </div>
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallaxx">
                <use xlink:href="#gentle-wave" x="18" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="100" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="70" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
</section>

<section class="about-one" style="padding-top: 60px; padding-bottom: 60px;">
    <div class="outer-container">
        <div class="auto-container">
            <div class="about-one_icon" style="
                                background-image: url(assets/images/icons/icon-3.png);
                            "></div>
            <div class="row clearfix">
                <div class="about-one_image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="about-one_image-outer">
                        <div class="about-one_experiance">
                            <div class="about-one_experiance-inner">
                                5+
                                <span>Years of <br />
                                    Experience</span>
                            </div>
                        </div>
                        <div class="about-one_image">
                            <div class="about-one_color-one"></div>
                            <div class="about-one_color-two"></div>
                            <div style="width: 510px; height: 583px; overflow: hidden;">
                                <img src="assets/images/resource/about-1i.jpg" alt=""
                                    style="width: 100%; height: 100%; object-fit: cover;" />
                            </div>

                        </div>
                    </div>
                </div>

                <div class="about-one_content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="about-one_content-outer">
                        <div class="sec-title title-anim">
                            <div class="sec-title_title">About youthscamp</div>
                            <h2 class="sec-title_heading">Empowering Youths', Inspiring
                                <span>Futures</span>
                            </h2>
                            <div class="sec-title_text">We nurture young minds through creativity, play, and learning.
                                Our camp encourages curiosity, confidence, and a lifelong love of discovery.</div>
                        </div>

                        <div class="about-one_options d-flex align-items-center flex-wrap">
                            <div class="about-one_button">
                                <a href="about-us.html" class="theme-btn btn-style-one">
                                    <span class="btn-wrap">
                                        <span class="text-one">Learn more
                                            <i class="flaticon-next-1"></i></span>
                                        <span class="text-two">Learn more
                                            <i class="flaticon-next-1"></i></span>
                                    </span>
                                </a>
                            </div>
                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                                class="lightbox-video about-one_play"><span class="flaticon-play"><i
                                        class="ripple"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Recent Programs -->
<section class="program-one events-section" style="padding-top: 60px; padding-bottom: 60px;">
    <div class="program-one_icon" style="
                        background-image: url(assets/images/icons/icon-7.png);
                    "></div>
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="sec-title_title">Our Programs</div>
            <h2 class="sec-title_heading">From Our Most <span>Recent</span> <br />
                Programs</h2>
        </div>
        <div class="program-one_carousel swiper-container">
            <div class="swiper-wrapper">
                {{#if programs.length}}
                {{#each programs}}
                <div class="swiper-slide">
                    <div class="program-block_one">
                        <div class="program-block_one-inner">
                            <div class="program-block_one-image">
                                <div style="width: 100%; height: 250px; overflow: hidden;">
                                    <img src="{{#if this.imageUrlResolved}}{{this.imageUrlResolved}}{{else}}assets/images/resource/event-placeholder.jpg{{/if}}" alt="{{this.title}}"
                                        style="width: 100%; height: 100%; object-fit: cover;"
                                        onerror="this.src='assets/images/resource/program-1.jpg'" />
                                </div>
                            </div>
                            <div class="program-block_one-content">
                                <div class="program-block_one-date" style="display:flex; flex-direction:column; align-items:center; line-height:1;">
                                    <span style="font-size: 22px; font-weight: 700;">{{this.durationValue}}</span>
                                    {{#if this.durationLabel}}
                                    <span style="font-size: 12px; text-transform: uppercase; letter-spacing: 0.5px;">{{this.durationLabel}}</span>
                                    {{/if}}
                                </div>
                                <h5 class="program-block_one-title"><a
                                        href="/program-detail.html">{{this.title}}</a></h5>
                                <div class="program-block_one-text"
                                    style="display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden;">
                                    {{#if this.descriptionText}}{{this.descriptionText}}{{else}}Learn more about this program.{{/if}}</div>
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="program-block_one-experiance">{{this.ageRange}}</div>
                                    <a class="program-block_one-join" href="/program-detail.html">view more
                                        <i class="flaticon-next-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <!-- Slide -->
                <div class="swiper-slide">
                    <!-- Program Block One -->
                    <div class="program-block_one">
                        <div class="program-block_one-inner">
                            <div class="program-block_one-image">
                                <div style="width: 100%; height: 250px; overflow: hidden;">
                                    <img src="assets/images/resource/about-5i.jpg" alt=""
                                        style="width: 100%; height: 100%; object-fit: cover;" />
                                </div>
                                <div class="program-block_one-video">
                                    <a href="assets/videos/event1.mov" class="lightbox-video program-block_one-play">
                                        <span class="flaticon-play"><i class="ripple"></i></span>
                                    </a>
                                </div>
                            </div>
                            <div class="program-block_one-content">
                                <div class="program-block_one-date">5 <span>days</span></div>
                                <h5 class="program-block_one-title"><a href="/event-detail">Hamstadel 2022</a></h5>
                                <div class="program-block_one-text"
                                    style="display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden;">
                                    Hamstadel 2022 united youths of all backgrounds for unforgettable summer
                                    fun—featuring games, art, nature exploration, and hands-on experiences that sparked
                                    joy and growth.</div>
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="program-block_one-experiance">5-15 years old</div>
                                    <a class="program-block_one-join" href="/event-detail">view more
                                        <i class="flaticon-next-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide -->
                <div class="swiper-slide">
                    <!-- Program Block One -->
                    <div class="program-block_one">
                        <div class="program-block_one-inner">
                            <div class="program-block_one-image">
                                <div style="width: 100%; height: 250px; overflow: hidden;">
                                    <img src="assets/images/main-slider/image1i.JPG" alt=""
                                        style="width: 100%; height: 100%; object-fit: cover;" />
                                </div>
                                <div class="program-block_one-video">
                                    <a href="assets/videos/event2.mov" class="lightbox-video program-block_one-play">
                                        <span class="flaticon-play"><i class="ripple"></i></span>
                                    </a>
                                </div>
                            </div>
                            <div class="program-block_one-content">
                                <div class="program-block_one-date">3 <span>days</span></div>
                                <h5 class="program-block_one-title"><a href="/event-detail">Hamstadel Tour 2021</a></h5>
                                <div class="program-block_one-text"
                                    style="display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden;">
                                    Hamstadel Tour 2021 featured brilliant young minds presenting innovative science
                                    projects—covering everything from ecosystems and robotics to chemistry and beyond.
                                </div>
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="program-block_one-experiance">8-16 years old</div>
                                    <a class="program-block_one-join" href="/event-detail">view more
                                        <i class="flaticon-next-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide -->
                <div class="swiper-slide">
                    <!-- Program Block One -->
                    <div class="program-block_one">
                        <div class="program-block_one-inner">
                            <div class="program-block_one-image">
                                <div style="width: 100%; height: 250px; overflow: hidden;">
                                    <img src="assets/images/resource/about-2i.jpg" alt=""
                                        style="width: 100%; height: 100%; object-fit: cover;" />
                                </div>
                                <div class="program-block_one-video">
                                    <a href="assets/videos/event3.mov" class="lightbox-video program-block_one-play">
                                        <span class="flaticon-play"><i class="ripple"></i></span>
                                    </a>
                                </div>
                            </div>
                            <div class="program-block_one-content">
                                <div class="program-block_one-date">2 <span>days</span></div>
                                <h5 class="program-block_one-title"><a href="/event-detail">Turkiya 2020</a></h5>
                                <div class="program-block_one-text"
                                    style="display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden;">
                                    Turkiya 2020 celebrated youth creativity with a colorful showcase of artwork—ranging
                                    from bold paintings and sculptures to digital designs and mixed media pieces.</div>
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="program-block_one-experiance">6-14 years old</div>
                                    <a class="program-block_one-join" href="/event-detail">view more
                                        <i class="flaticon-next-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>

            <!-- If we need pagination -->
            <div class="program-one_carousel-pagination"></div>

            <!-- Navigation arrows in standard position -->
            <div class="swiper-button-prev program-one_carousel-prev"
                style="width: 50px; height: 50px; margin-top: 0; top: 50%; transform: translateY(-50%); left: 10px; background: transparent; border: 2px solid #ccc; border-radius: 50%; display: flex; align-items: center; justify-content: center; transition: all 0.3s ease; font-size: 0;">
                <i class="fas fa-chevron-left" style="font-size: 22px; color: #333; transition: all 0.3s ease;"></i>
            </div>
            <div class="swiper-button-next program-one_carousel-next"
                style="width: 50px; height: 50px; margin-top: 0; top: 50%; transform: translateY(-50%); right: 10px; background: transparent; border: 2px solid #ccc; border-radius: 50%; display: flex; align-items: center; justify-content: center; transition: all 0.3s ease; font-size: 0;">
                <i class="fas fa-chevron-right" style="font-size: 22px; color: #333; transition: all 0.3s ease;"></i>
            </div>
        </div>
    </div>
</section>
<!-- End Recent Programs -->


<!-- Latest Blogs -->
<section class="news-one" style="padding-top: 60px; padding-bottom: 60px;">
    <div class="auto-container">
        <div class="sec-title centered">
            <div class="sec-title_title">Latest Blogs</div>
            <h2 class="sec-title_heading">Insights & <span>Updates</span></h2>
        </div>
        <div class="row clearfix">
            {{#if blogs.length}}
            {{#each blogs}}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100">
                    <div style="width: 100%; height: 220px; overflow: hidden;">
                        <img src="{{#if this.coverImageUrlResolved}}{{this.coverImageUrlResolved}}{{else}}assets/images/resource/about-1i.jpg{{/if}}" alt="{{this.title}}"
                            style="width: 100%; height: 100%; object-fit: cover;" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="/blog/{{this.slug}}">{{this.title}}</a></h5>
                        <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;">
                            {{#if this.excerpt}}{{this.excerpt}}{{else}}Read the latest update from our team.{{/if}}
                        </p>
                        <div class="d-flex justify-content-start">
                            <a class="program-block_one-join" href="/blog/{{this.slug}}">view more
                                <i class="flaticon-next-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="col-12 text-center">
                <p>No blog posts yet.</p>
            </div>
            {{/if}}
        </div>
    </div>
</section>
<!-- End Latest Blogs -->

<!-- Testimonial One and Key Values Combined Section -->
<section class="combined-section">
    <div class="outer-container">
        <div class="auto-container">
            <!-- Testimonials -->
            <!-- Testimonial One -->
            <section class="testimonial-one">
                <div class="outer-container">
                    <div class="auto-container">
                        <div class="testimonial-one_circle-one"></div>
                        <div class="testimonial-one_circle-two"></div>
                        <div class="testimonial-one_icon" style="
                                            background-image: url(assets/images/icons/icon-5.png);
                                        "></div>
                        <div class="testimonial-one_icon-two" style="
                                            background-image: url(assets/images/icons/icon-6.png);
                                        "></div>
                        <!-- Sec Title -->
                        <div class="sec-title centered light">
                            <div class="sec-title_title">Kid-approved Stories</div>
                            <h2 class="sec-title_heading">Voices of Adventure from <br />
                                Kids’ <span>Parents</span></h2>
                        </div>

                        <div class="testimonial__slider-wrap">
                            <div class="testimonial__active swiper-container">
                                <div class="swiper-wrapper">
                                    <!-- Slide -->
                                    <div class="swiper-slide">
                                        <!-- Testimonial Block One -->
                                        <div class="testimonial-block_one">
                                            <div class="testimonial-block_one-inner">
                                                <div class="testimonial-block_one-quote">
                                                    <i><img src="assets/images/icons/quote.svg" alt="" /></i>
                                                </div>
                                                <div class="testimonial-block_one-text">My 10-year-old daughter
                                                    recently participated in the
                                                    kids' sports bootcamp
                                                    offered by Kidscamp, and I
                                                    can't say enough positive
                                                    things about her experience.
                                                    From start to finish, the
                                                    program incredibly
                                                    well-organized, engaging,
                                                    fun for kids of all
                                                    levels.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Slide -->
                                    <div class="swiper-slide">
                                        <!-- Testimonial Block One -->
                                        <div class="testimonial-block_one">
                                            <div class="testimonial-block_one-inner">
                                                <div class="testimonial-block_one-quote">
                                                    <i><img src="assets/images/icons/quote.svg" alt="" /></i>
                                                </div>
                                                <div class="testimonial-block_one-text">My 10-year-old daughter
                                                    recently participated in the
                                                    kids' sports bootcamp
                                                    offered by Kidscamp, and I
                                                    can't say enough positive
                                                    things about her experience.
                                                    From start to finish, the
                                                    program incredibly
                                                    well-organized, engaging,
                                                    fun for kids of all
                                                    levels.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Slide -->
                                    <div class="swiper-slide">
                                        <!-- Testimonial Block One -->
                                        <div class="testimonial-block_one">
                                            <div class="testimonial-block_one-inner">
                                                <div class="testimonial-block_one-quote">
                                                    <i><img src="assets/images/icons/quote.svg" alt="" /></i>
                                                </div>
                                                <div class="testimonial-block_one-text">My 10-year-old daughter
                                                    recently participated in the
                                                    kids' sports bootcamp
                                                    offered by Kidscamp, and I
                                                    can't say enough positive
                                                    things about her experience.
                                                    From start to finish, the
                                                    program incredibly
                                                    well-organized, engaging,
                                                    fun for kids of all
                                                    levels.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Slide -->
                                    <div class="swiper-slide">
                                        <!-- Testimonial Block One -->
                                        <div class="testimonial-block_one">
                                            <div class="testimonial-block_one-inner">
                                                <div class="testimonial-block_one-quote">
                                                    <i><img src="assets/images/icons/quote.svg" alt="" /></i>
                                                </div>
                                                <div class="testimonial-block_one-text">My 10-year-old daughter
                                                    recently participated in the
                                                    kids' sports bootcamp
                                                    offered by Kidscamp, and I
                                                    can't say enough positive
                                                    things about her experience.
                                                    From start to finish, the
                                                    program incredibly
                                                    well-organized, engaging,
                                                    fun for kids of all
                                                    levels.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Slide -->
                                    <div class="swiper-slide">
                                        <!-- Testimonial Block One -->
                                        <div class="testimonial-block_one">
                                            <div class="testimonial-block_one-inner">
                                                <div class="testimonial-block_one-quote">
                                                    <i><img src="assets/images/icons/quote.svg" alt="" /></i>
                                                </div>
                                                <div class="testimonial-block_one-text">My 10-year-old daughter
                                                    recently participated in the
                                                    kids' sports bootcamp
                                                    offered by Kidscamp, and I
                                                    can't say enough positive
                                                    things about her experience.
                                                    From start to finish, the
                                                    program incredibly
                                                    well-organized, engaging,
                                                    fun for kids of all
                                                    levels.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="testimonial__nav swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="testimonial__nav-thumb swiper-slide">
                                        <div class="thumb-content">
                                            <h5>Esther Howard</h5>
                                            <div class="designation">Mother of Lima</div>
                                        </div>
                                    </div>
                                    <div class="testimonial__nav-thumb swiper-slide">
                                        <div class="thumb-content">
                                            <h5>Micheal Work</h5>
                                            <div class="designation">Mother of Lima</div>
                                        </div>
                                    </div>
                                    <div class="testimonial__nav-thumb swiper-slide">
                                        <div class="thumb-content">
                                            <h5>Lina Rose</h5>
                                            <div class="designation">Mother of Lima</div>
                                        </div>
                                    </div>
                                    <div class="testimonial__nav-thumb swiper-slide">
                                        <div class="thumb-content">
                                            <h5>Pollard Kite</h5>
                                            <div class="designation">Mother of Lima</div>
                                        </div>
                                    </div>
                                    <div class="testimonial__nav-thumb swiper-slide">
                                        <div class="thumb-content">
                                            <h5>Messey george</h5>
                                            <div class="designation">Mother of Lima</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="testimonial__nav-arrow">
                                <!-- If we need navigation buttons -->
                                <div class="testimonial__nav-slider-prev fa-solid fa-angle-left fa-fw"></div>
                                <div class="testimonial__nav_slider-next fa-solid fa-angle-right fa-fw"></div>
                            </div>

                            <!-- If we need pagination -->
                            <div class="testimonial__nav-pagination"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Testimonial One -->

            <!-- Key Values (Previously "Discover the Difference") -->
            <div class="services-one" style="margin-top: 80px;">
                <div class="sec-title centered">
                    <div class="sec-title_title">Discover the Difference</div>
                    <h2 class="sec-title_heading">Discover Magic of Our <br />
                        Youths' <span>Experience</span></h2>
                </div>
                <div class="row clearfix">
                    <!-- Service Block One -->
                    <div class="service-block_one col-lg-3 col-md-6 col-sm-12">
                        <div class="service-block_one-inner wow fadeInLeft" data-wow-delay="0ms"
                            data-wow-duration="1500ms">
                            <div class="service-block_one-stars" style="
                                            background-image: url(assets/images/icons/icon-1.png);
                                        "></div>
                            <div class="service-block_one-icon">
                                <i class="flaticon-team"></i>
                            </div>
                            <h5 class="service-block_one-title"><a href="service-detail.html">Engaging Curriculum</a>
                            </h5>
                            <div class="service-block_one-text">Our lessons spark imagination, build core skills, and
                                keep young minds excited to explore more.</div>
                        </div>
                    </div>

                    <!-- Service Block One -->
                    <div class="service-block_one col-lg-3 col-md-6 col-sm-12">
                        <div class="service-block_one-inner wow fadeInLeft" data-wow-delay="150ms"
                            data-wow-duration="1500ms">
                            <div class="service-block_one-stars" style="
                                            background-image: url(assets/images/icons/icon-1.png);
                                        "></div>
                            <div class="service-block_one-icon">
                                <i class="flaticon-user"></i>
                            </div>
                            <h5 class="service-block_one-title"><a href="service-detail.html">Expert Instructors</a>
                            </h5>
                            <div class="service-block_one-text">Caring mentors guide each child with patience, skill,
                                and passion for meaningful learning every day.</div>
                        </div>
                    </div>

                    <!-- Service Block One -->
                    <div class="service-block_one col-lg-3 col-md-6 col-sm-12">
                        <div class="service-block_one-inner wow fadeInLeft" data-wow-delay="300ms"
                            data-wow-duration="1500ms">
                            <div class="service-block_one-stars" style="
                                            background-image: url(assets/images/icons/icon-1.png);
                                        "></div>
                            <div class="service-block_one-icon">
                                <i class="flaticon-leader"></i>
                            </div>
                            <h5 class="service-block_one-title"><a href="service-detail.html">Safe Environment</a></h5>
                            <div class="service-block_one-text">We provide a secure, welcoming space where youths can
                                learn, play, and grow with total peace of mind.</div>
                        </div>
                    </div>

                    <!-- Service Block One -->
                    <div class="service-block_one col-lg-3 col-md-6 col-sm-12">
                        <div class="service-block_one-inner wow fadeInLeft" data-wow-delay="450ms"
                            data-wow-duration="1500ms">
                            <div class="service-block_one-stars" style="
                                            background-image: url(assets/images/icons/icon-1.png);
                                        "></div>
                            <div class="service-block_one-icon">
                                <i class="flaticon-happiness"></i>
                            </div>
                            <h5 class="service-block_one-title"><a href="service-detail.html">Fun and Adventure</a></h5>
                            <div class="service-block_one-text">Every day is packed with exciting games, new
                                discoveries, and joyful moments youths will cherish.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Combined Section -->

<!-- Registration One -->
<section class="registration-one" style="padding-top: 60px; padding-bottom: 60px;">
    <div class="registration-one_pattern" style="
                        background-image: url(assets/images/background/pattern-1.png);
                    "></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Title Column -->
            <div class="registration-one_title-column col-lg-6 col-md-12 col-sm-12">
                <div class="registration-one_title-outer">
                    <!-- Sec Title -->
                    <div class="sec-title title-anim">
                        <div class="sec-title_title">Registration Now!</div>
                        <h2 class="sec-title_heading">Register for Our Adventure
                            <span>Bootcamp</span> Today!
                        </h2>
                        <div class="sec-title_text">Register your child for an unforgettable experience combining
                            Islamic learning with exciting outdoor activities. Fun, faith, and friendships — all in one
                            vibrant summer tour!</div>
                    </div>

                    <ul class="registration-one_list">
                        <li>
                            <i class="icon flaticon-call"></i>
                            Call Us Now <br />
                            <a href="#">+47 929 19 580</a>
                        </li>
                        <li>
                            <i class="icon flaticon-arroba"></i>
                            Mail Us Now <br />
                            <a href="#">info@ilearninghubb.com</a>
                        </li>
                        <li>
                            <i class="icon flaticon-maps-and-flags"></i>
                            Our Location <br />
                            <a href="#">Holmlia, Oslo, Norway</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Title Column -->
            <div class="registration-one_form-column col-lg-6 col-md-12 col-sm-12">
                <div class="registration-one_form-outer">
                    <h3 class="registration-one_title">Bootcamp Registration</h3>

                    <!-- Default Form -->
                    <div class="default-form">
                        <form method="post" action="blog.html">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label>Child's Full Name</label>
                                    <input type="text" name="firstname" placeholder="" required="" />
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label>Guardian Name</label>
                                    <input type="text" name="lastname" placeholder="" required="" />
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label>Email Address</label>
                                    <input type="text" name="email" placeholder="" required="" />
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label>Phone Number</label>
                                    <input type="text" name="phone" placeholder="" required="" />
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label>Child's Age</label>
                                    <select name="currency" class="custom-select-box">
                                        <option>10 - 12</option>
                                        <option>13 - 15</option>
                                        <option>16 - 18</option>
                                        <option>19 - 21</option>
                                        <option>22 - 24</option>
                                    </select>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label>Medical
                                        Conditions/Allergies</label>
                                    <select name="currency" class="custom-select-box">
                                        <option>No</option>
                                        <option>Yes</option>
                                    </select>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <label>Additional Message</label>
                                    <textarea class="" name="message" placeholder=""></textarea>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <!-- Button Box -->
                                    <button type="submit" class="theme-btn btn-style-two">
                                        <span class="btn-wrap">
                                            <span class="text-one">Submit Now
                                                <i class="flaticon-next-1"></i></span>
                                            <span class="text-two">Submit Now
                                                <i class="flaticon-next-1"></i></span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- End Default Form -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Registration One -->

<!-- Custom Script to Disable Hero Slider Movement -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Find the main slider Swiper instance
        const mainSlider = document.querySelector('.slider-one .main-slider').swiper;

        // If the Swiper instance exists
        if (mainSlider) {
            // Disable autoplay
            if (mainSlider.autoplay) {
                mainSlider.autoplay.stop();
            }

            // Disable swiping/sliding
            mainSlider.allowSlideNext = false;
            mainSlider.allowSlidePrev = false;
            mainSlider.allowTouchMove = false;

            // Destroy the pagination and navigation if they exist
            if (mainSlider.pagination) {
                mainSlider.pagination.destroy();
            }

            // Update the Swiper instance to apply changes
            mainSlider.update();
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Add hover effect to navigation arrows
        const prevButtons = document.querySelectorAll('.swiper-button-prev');
        const nextButtons = document.querySelectorAll('.swiper-button-next');

        function addHoverEffect(button) {
            button.addEventListener('mouseenter', function () {
                this.style.background = '#F9A826'; // Warm yellow color
                this.style.borderColor = '#F9A826';
                this.querySelector('i').style.color = '#fff';
            });

            button.addEventListener('mouseleave', function () {
                this.style.background = 'transparent';
                this.style.borderColor = '#ccc';
                this.querySelector('i').style.color = '#333';
            });
        }

        prevButtons.forEach(addHoverEffect);
        nextButtons.forEach(addHoverEffect);
    });
</script>

<style>
    /* Hide the default Swiper arrow background */
    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none !important;
    }

    /* Make sure our custom icons are visible and properly sized */
    .swiper-button-prev i,
    .swiper-button-next i {
        display: block !important;
    }
</style>