<!-- About Sidebar -->
<div class="about-sidebar">
    <div class="gradient-layer"></div>
    <!-- Close Button -->
    <div class="close-sidebar-widget close-button">
        <span class="fa-solid fa-xmark fa-fw"></span>
    </div>
    <div class="sidebar-inner">
        <div class="upper-box">
            <div class="image">
                <img src="kidscamp/assets/images/resource/about-1.jpg" alt="" />
            </div>
            <div class="content-box">
                <h3>About <span>iLearningHubb</span></h3>
                <div class="text">Aliquam ut porttitor leo a diam
                    sollicitudin.Nam tempus volutpat ipsum, non
                    viverra odio mollis mollis. Mauris
                    vitaemalesuada nunc vel risus.</div>
                <ul class="about-sidebar_list">
                    <li>Engaging Curriculum</li>
                    <li>Expert Instructors</li>
                    <li>Safe Environment</li>
                    <li>Fun and Adventure</li>
                </ul>
            </div>
        </div>
        <!-- Social Box -->
        <div class="social-box">
            <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>
<!-- End About Sidebar -->

<!-- Slider One -->
<section class="slider-one">
    <div class="slider-one_down">
        <img src="assets/images/main-slider/down.png" alt="" />
    </div>
    <div class="main-slider swiper-container">
        <div class="swiper-wrapper">
            <!-- Slide -->
            <div class="swiper-slide">
                <div class="slider-one_icon-one" style="
                                    background-image: url(assets/images/main-slider/icon-1.png);
                                "></div>
                <div class="auto-container">
                    <div class="row clearfix">
                        <!-- Content Column -->
                        <div class="slider-one_content col-lg-6 col-md-12 col-sm-12">
                            <div class="slider-one_content-inner">
                                <div class="slider-one_title">Quest for Knowledge</div>
                                <h1 class="slider-one_heading">Join Our Unique Kid's
                                    <span>Bootcamp</span>
                                    Experience.
                                </h1>
                                <div class="slider-one_text">Spark curiosity and build young minds with hands-on learning, teamwork, and fun in every session.</div>
                                <div class="slider-one_button d-flex align-items-center flex-wrap">
                                    <a href="classes.html" class="theme-btn btn-style-one">
                                        <span class="btn-wrap">
                                            <span class="text-one">Book now
                                                <i class="flaticon-next-1"></i></span>
                                            <span class="text-two">Book now
                                                <i class="flaticon-next-1"></i></span>
                                        </span>
                                    </a>
                                    <div class="slider-one_seats">
                                        Remains:
                                        <span>56 Seats</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Image Column -->
                        <div class="slider-one_image-column col-lg-6 col-md-12 col-sm-12">
                            <div class="slider-one_image-outer">
                                <div class="slider-one_shadow" style="
                                                    background-image: url(assets/images/main-slider/shadow.png);
                                                "></div>
                                <div class="slider-one_icon-two" style="
                                                    background-image: url(assets/images/main-slider/icon-2.png);
                                                "></div>
                                <div class="slider-one_icon-three" style="
                                                    background-image: url(assets/images/main-slider/icon-3.png);
                                                "></div>
                                <div class="slider-one_image">
                                   <div class="image-wrapper">
                                    <img src="assets/images/main-slider/about-0i.jpg" alt="" />
            </div>

                                </div>
                                <div class="slider-one_booking">
                                    <div class="slider-one_booking-title"><i><img
                                                src="assets/images/main-slider/fire.png" alt="" /></i>Early
                                        booking</div>
                                    <!-- Time Countdown -->
                                    <div class="time-countdown clearfix" data-countdown="2024/10/1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-one_color-one"></div>
                <div class="slider-one_color-two"></div>
                <div class="slider-one_color-three"></div>
                <div class="slider-one_color-four"></div>
            </div>


        </div>
    </div>
    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallaxx">
                <use xlink:href="#gentle-wave" x="18" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="100" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="70" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!--Waves end-->
</section>
<!-- End Main Slider Section -->

<!-- Services One -->
<section class="services-one">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="sec-title_title">Discover the Difference</div>
            <h2 class="sec-title_heading">Discover Magic of Our <br />
                Kids' <span>Experience</span></h2>
        </div>
        <div class="row clearfix">
            <!-- Service Block One -->
            <div class="service-block_one col-lg-3 col-md-6 col-sm-12">
                <div class="service-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="service-block_one-stars" style="
                                        background-image: url(assets/images/icons/icon-1.png);
                                    "></div>
                    <div class="service-block_one-icon">
                        <i class="flaticon-team"></i>
                    </div>
                    <h5 class="service-block_one-title"><a href="service-detail.html">Engaging Curriculum</a>
                    </h5>
                    <div class="service-block_one-text">Our lessons spark imagination, build core skills, and keep young minds excited to explore more.</div>
                </div>
            </div>

            <!-- Service Block One -->
            <div class="service-block_one col-lg-3 col-md-6 col-sm-12">
                <div class="service-block_one-inner wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
                    <div class="service-block_one-stars" style="
                                        background-image: url(assets/images/icons/icon-1.png);
                                    "></div>
                    <div class="service-block_one-icon">
                        <i class="flaticon-user"></i>
                    </div>
                    <h5 class="service-block_one-title"><a href="service-detail.html">Expert Instructors</a>
                    </h5>
                    <div class="service-block_one-text">Caring mentors guide each child with patience, skill, and passion for meaningful learning every day.</div>
                </div>
            </div>

            <!-- Service Block One -->
            <div class="service-block_one col-lg-3 col-md-6 col-sm-12">
                <div class="service-block_one-inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="service-block_one-stars" style="
                                        background-image: url(assets/images/icons/icon-1.png);
                                    "></div>
                    <div class="service-block_one-icon">
                        <i class="flaticon-leader"></i>
                    </div>
                    <h5 class="service-block_one-title"><a href="service-detail.html">Safe Environment</a></h5>
                    <div class="service-block_one-text">We provide a secure, welcoming space where kids can learn, play, and grow with total peace of mind.</div>
                </div>
            </div>

            <!-- Service Block One -->
            <div class="service-block_one col-lg-3 col-md-6 col-sm-12">
                <div class="service-block_one-inner wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                    <div class="service-block_one-stars" style="
                                        background-image: url(assets/images/icons/icon-1.png);
                                    "></div>
                    <div class="service-block_one-icon">
                        <i class="flaticon-happiness"></i>
                    </div>
                    <h5 class="service-block_one-title"><a href="service-detail.html">Fun and Adventure</a></h5>
                    <div class="service-block_one-text">Every day is packed with exciting games, new discoveries, and joyful moments kids will cherish.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services One -->

<!-- About One -->
<section class="about-one">
    <div class="outer-container">
        <div class="auto-container">
            <div class="about-one_icon" style="
                                background-image: url(assets/images/icons/icon-3.png);
                            "></div>
            <div class="row clearfix">
                <!-- Image Column -->
                <div class="about-one_image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="about-one_image-outer">
                        <div class="about-one_experiance">
                            <div class="about-one_experiance-inner">
                                10+
                                <span>Years of <br />
                                    Expereence</span>
                            </div>
                        </div>
                        <div class="about-one_image">
                            <div class="about-one_color-one"></div>
                            <div class="about-one_color-two"></div>
                            <div style="width: 510px; height: 583px; overflow: hidden;">
                            <img 
                                src="assets/images/resource/about-1i.jpg" 
                                alt="" 
                                style="width: 100%; height: 100%; object-fit: cover;" 
                            />
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Content Column -->
                <div class="about-one_content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="about-one_content-outer">
                        <!-- Sec Title -->
                        <div class="sec-title title-anim">
                            <div class="sec-title_title">About kidscamp</div>
                            <h2 class="sec-title_heading">Empowering Children's, Inspiring
                                <span>Futures</span>
                            </h2>
                            <div class="sec-title_text">We nurture young minds through creativity, play, and learning. Our camp encourages curiosity, confidence, and a lifelong love of discovery. With thoughtful guidance and engaging activities, children explore their potential and build the foundation for bright, promising futures ahead.</div>
                        </div>
                        <!-- About One List -->
                        <ul class="about-one_list">
                            <li><i class="flaticon-checked"></i>Empowering kids through dynamic
                                activities</li>
                            <li><i class="flaticon-checked"></i>Dedicated team fosters a inclusive
                                environment</li>
                            <li><i class="flaticon-checked"></i>Join us for a transformative
                                experience</li>
                        </ul>
                        <!-- Options -->
                        <div class="about-one_options d-flex align-items-center flex-wrap">
                            <div class="about-one_button">
                                <a href="about-us.html" class="theme-btn btn-style-one">
                                    <span class="btn-wrap">
                                        <span class="text-one">Know more
                                            <i class="flaticon-next-1"></i></span>
                                        <span class="text-two">Know more
                                            <i class="flaticon-next-1"></i></span>
                                    </span>
                                </a>
                            </div>
                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                                class="lightbox-video about-one_play"><span class="flaticon-play"><i
                                        class="ripple"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About One -->

<!-- Program One -->
<section class="program-one">
    <div class="program-one_icon" style="
                        background-image: url(assets/images/icons/icon-4.png);
                    "></div>
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="sec-title_title">Our programs</div>
            <h2 class="sec-title_heading">Young Minds <span>Adventures</span> <br />
                and Innovations</h2>
        </div>
        <div class="program-one_carousel swiper-container">
            <div class="swiper-wrapper">
                <!-- Slide -->
                <div class="swiper-slide">
                    <!-- Program Block One -->
                    <div class="program-block_one">
                        <div class="program-block_one-inner">
                            <div class="program-block_one-image">
                                <div style="width: 352px; height: 250px; overflow: hidden;">
                                    <img 
                                        src="assets/images/resource/about-2i.jpg" 
                                        alt="" 
                                        style="width: 100%; height: 100%; object-fit: cover;" 
                                    />
                                    </div>

                            </div>
                            <div class="program-block_one-content">
                                <div class="program-block_one-date">12 <span>days</span></div>
                                <h5 class="program-block_one-title"><a href="program-detail.html">Fitness
                                        Challenge</a></h5>
                                <div class="program-block_one-text">Kids build strength, coordination, and confidence through fun exercises and active play. Our program promotes healthy habits and a love for movement from an early age.</div>
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="program-block_one-experiance">8-14 years old</div>
                                    <a class="program-block_one-join" href="program-detail.html">join now
                                        <i class="flaticon-next-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide -->
                <div class="swiper-slide">
                    <!-- Program Block One -->
                    <div class="program-block_one">
                        <div class="program-block_one-inner">
                            <div class="program-block_one-image">
                                 <div style="width: 352px; height: 250px; overflow: hidden;">
                                    <img 
                                        src="assets/images/resource/about-5i.jpg" 
                                        alt="" 
                                        style="width: 100%; height: 100%; object-fit: cover;" 
                                    />
                                    </div>
                            </div>
                            <div class="program-block_one-content">
                                <div class="program-block_one-date">12 <span>days</span></div>
                                <h5 class="program-block_one-title"><a href="program-detail.html">Health
                                        Education</a></h5>
                                <div class="program-block_one-text">Through engaging lessons and activities, children learn about nutrition, hygiene, and wellness—empowering them to make smart, healthy choices every single day.</div>
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="program-block_one-experiance">8-14 years old</div>
                                    <a class="program-block_one-join" href="program-detail.html">join now
                                        <i class="flaticon-next-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide -->
                <div class="swiper-slide">
                    <!-- Program Block One -->
                    <div class="program-block_one">
                        <div class="program-block_one-inner">
                            <div class="program-block_one-image">
                                <div style="width: 352px; height: 250px; overflow: hidden;">
                                    <img 
                                        src="assets/images/resource/about-2i.jpg" 
                                        alt="" 
                                        style="width: 100%; height: 100%; object-fit: cover;" 
                                    />
                                    </div>

                            </div>
                            <div class="program-block_one-content">
                                <div class="program-block_one-date">12 <span>days</span></div>
                                <h5 class="program-block_one-title"><a href="program-detail.html">Sports
                                        Activities</a></h5>
                                <div class="program-block_one-text">Team games and outdoor sports teach kids the value of teamwork, discipline, and staying active—all while having loads of fun and building lasting friendships.</div>
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="program-block_one-experiance">8-14 years old</div>
                                    <a class="program-block_one-join" href="program-detail.html">join now
                                        <i class="flaticon-next-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- If we need pagination -->
            <div class="program-one_carousel-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="program-one_carousel-prev fas fa-angle-left fa-fw"></div>
            <div class="program-one_carousel-next fas fa-angle-right fa-fw"></div>
        </div>
    </div>
</section>
<!-- End Program One -->

<!--contact form-->
<section class="contact-form-section">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Column -->
				<div class="form-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<h3>Contact Us Right Now</h3>
						<div class="text">Your email address will not be published. Required fields are marked *</div>
						
						<!-- Notification Messages -->
						<div id="form-message" class="mb-4" style="display: none;">
							<div id="success-message" class="alert alert-success" style="display: none;">
								Thank you! Your message has been sent successfully.
							</div>
							<div id="error-message" class="alert alert-danger" style="display: none;">
								Sorry, there was an error sending your message. Please try again later.
							</div>
							<div id="missing-message" class="alert alert-warning" style="display: none;">
								Please fill out all required fields.
							</div>
						</div>
						
						<div class="default-form contact-form">
							<form method="post" action="sendemail.php" id="home-contact-form">
								<div class="row clearfix">
									<!--Form Group-->
									<div class="form-group col-lg-6 col-md-6 col-sm-6">
										<input type="text" name="username" value="" placeholder="Name" required>
									</div>
									<!--Form Group-->
									<div class="form-group col-lg-6 col-md-6 col-sm-6">
										<input type="email" name="email" value="" placeholder="Email" required>
									</div>
									<div class="form-group col-lg-6 col-md-6 col-sm-6">
										<input type="text" name="phone" value="" placeholder="Phone" required>
									</div>
									<!--Form Group-->
									<div class="form-group col-lg-6 col-md-6 col-sm-6">
										<select name="service" class="custom-select-box">
											<option>Select service</option>
											<option>Service 01</option>
											<option>Service 02</option>
											<option>Service 03</option>
										</select>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 form-group">
										<textarea name="message" placeholder="Type comment here*"></textarea>
									</div>
									<div class="form-group col-lg-12 col-md-12 col-sm-12">
										<button type="submit" class="template-btn btn-style-one">
											<span class="btn-wrap">
												<span class="text-one">Submit now <i class="flaticon-next-1"></i></span>
												<span class="text-two">Submit now <i class="flaticon-next-1"></i></span>
											</span>
										</button>
									</div>
									
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- Column -->
				<div class="map-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
                        <div class="map-one_map">
                            <iframe 
                            id="gmap_canvas" 
                            src="https://maps.google.com/maps?q=Oslo%2C%20Norway&t=&z=14&ie=UTF8&iwloc=&output=embed"
                            width="100%" 
                            height="450" 
                            frameborder="0" 
                            style="border:0;" 
                            allowfullscreen="" 
                            aria-hidden="false" 
                            tabindex="0">
                            </iframe>
                        </div>
                        </div>

				</div>
			</div>
		</div>
</section>
<!-- End Contact Form -->

<!-- Recent Events -->
<section class="program-one events-section">
    <div class="program-one_icon" style="
                        background-image: url(assets/images/icons/icon-7.png);
                    "></div>
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="sec-title_title">Our Events</div>
            <h2 class="sec-title_heading">From Our Most <span>Recent</span> <br />
                Events</h2>
        </div>
        <div class="program-one_carousel swiper-container">
            <div class="swiper-wrapper">
                {{#if recentEvents}}
                    {{#each recentEvents}}
                    <!-- Slide -->
                    <div class="swiper-slide">
                        <!-- Program Block One -->
                        <div class="program-block_one">
                            <div class="program-block_one-inner">
                                <div class="program-block_one-image">
                                    {{#if this.imageUrl}}
                                    <img src="{{this.imageUrl}}" alt="{{this.title}}" />
                                    {{else}}
                                    <img src="assets/images/resource/event-placeholder.jpg" alt="{{this.title}}" onerror="this.src='assets/images/resource/program-1.jpg'"/>
                                    {{/if}}
                                    {{#if this.videoUrl}}
                                    <div class="program-block_one-video">
                                        <a href="{{this.videoUrl}}" class="lightbox-video program-block_one-play">
                                            <span class="flaticon-play"><i class="ripple"></i></span>
                                        </a>
                                    </div>
                                    {{/if}}
                                </div>
                                <div class="program-block_one-content">
                                    <div class="program-block_one-date">
                                        {{formatDate this.date "D"}} <span>{{formatDate this.date "MMM"}}</span>
                                    </div>
                                    <h5 class="program-block_one-title"><a href="/event-detail?id={{this._id}}">{{this.title}}</a></h5>
                                    <div class="program-block_one-text">{{this.description}}</div>
                                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                                        <div class="program-block_one-experiance">{{this.ageRange}}</div>
                                        <a class="program-block_one-join" href="/event-detail?id={{this._id}}">view more
                                            <i class="flaticon-next-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                {{else}}
                    <!-- Slide -->
                    <div class="swiper-slide">
                        <!-- Program Block One -->
                        <div class="program-block_one">
                            <div class="program-block_one-inner">
                                <div class="program-block_one-image">
                                    <div style="width: 352px; height: 250px; overflow: hidden;">
                                        <img 
                                            src="assets/images/resource/about-5i.jpg" 
                                            alt="" 
                                            style="width: 100%; height: 100%; object-fit: cover;" 
                                        />
                                        </div>
                                    <div class="program-block_one-video">
                                        <a href="assets/videos/event1.mov" class="lightbox-video program-block_one-play">
                                            <span class="flaticon-play"><i class="ripple"></i></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="program-block_one-content">
                                    <div class="program-block_one-date">5 <span>days</span></div>
                                    <h5 class="program-block_one-title"><a href="/event-detail">Hamstadel 2022</a></h5>
                                    <div class="program-block_one-text">Hamstadel 2022 united kids of all backgrounds for unforgettable summer fun—featuring games, art, nature exploration, and hands-on experiences that sparked joy and growth.</div>
                                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                                        <div class="program-block_one-experiance">5-15 years old</div>
                                        <a class="program-block_one-join" href="/event-detail">view more
                                            <i class="flaticon-next-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide -->
                    <div class="swiper-slide">
                        <!-- Program Block One -->
                        <div class="program-block_one">
                            <div class="program-block_one-inner">
                                <div class="program-block_one-image">
                                    <div style="width: 352px; height: 250px; overflow: hidden;">
                                        <img 
                                            src="assets/images/main-slider/image1i.jpg" 
                                            alt="" 
                                            style="width: 100%; height: 100%; object-fit: cover;" 
                                        />
                                        </div>
                                    <div class="program-block_one-video">
                                        <a href="assets/videos/event2.mov" class="lightbox-video program-block_one-play">
                                            <span class="flaticon-play"><i class="ripple"></i></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="program-block_one-content">
                                    <div class="program-block_one-date">3 <span>days</span></div>
                                    <h5 class="program-block_one-title"><a href="/event-detail">Hamstadel Tour 2021</a></h5>
                                    <div class="program-block_one-text">Hamstadel Tour 2021 featured brilliant young minds presenting innovative science projects—covering everything from ecosystems and robotics to chemistry and beyond.</div>
                                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                                        <div class="program-block_one-experiance">8-16 years old</div>
                                        <a class="program-block_one-join" href="/event-detail">view more
                                            <i class="flaticon-next-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide -->
                    <div class="swiper-slide">
                        <!-- Program Block One -->
                        <div class="program-block_one">
                            <div class="program-block_one-inner">
                                <div class="program-block_one-image">
                                    <div style="width: 352px; height: 250px; overflow: hidden;">
                                        <img 
                                            src="assets/images/resource/about-2i.jpg" 
                                            alt="" 
                                            style="width: 100%; height: 100%; object-fit: cover;" 
                                        />
                                        </div>
                                    <div class="program-block_one-video">
                                        <a href="assets/videos/event3.mov" class="lightbox-video program-block_one-play">
                                            <span class="flaticon-play"><i class="ripple"></i></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="program-block_one-content">
                                    <div class="program-block_one-date">2 <span>days</span></div>
                                    <h5 class="program-block_one-title"><a href="/event-detail">Turkiya 2020</a></h5>
                                    <div class="program-block_one-text">Turkiya 2020 celebrated youth creativity with a colorful showcase of artwork—ranging from bold paintings and sculptures to digital designs and mixed media pieces.</div>
                                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                                        <div class="program-block_one-experiance">6-14 years old</div>
                                        <a class="program-block_one-join" href="/event-detail">view more
                                            <i class="flaticon-next-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>

            <!-- If we need pagination -->
            <div class="program-one_carousel-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="program-one_carousel-prev fas fa-angle-left fa-fw"></div>
            <div class="program-one_carousel-next fas fa-angle-right fa-fw"></div>
        </div>
    </div>
</section>
<!-- End Recent Events -->

<!-- Testimonial One -->
<section class="testimonial-one">
    <div class="outer-container">
        <div class="auto-container">
            <div class="testimonial-one_circle-one"></div>
            <div class="testimonial-one_circle-two"></div>
            <div class="testimonial-one_icon" style="
                                background-image: url(assets/images/icons/icon-5.png);
                            "></div>
            <div class="testimonial-one_icon-two" style="
                                background-image: url(assets/images/icons/icon-6.png);
                            "></div>
            <!-- Sec Title -->
            <div class="sec-title centered light">
                <div class="sec-title_title">Kid-approved Stories</div>
                <h2 class="sec-title_heading">Voices of Adventure from <br />
                    Kids' <span>Parents</span></h2>
            </div>

            <div class="testimonial__slider-wrap">
                <div class="testimonial__active swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <!-- Testimonial Block One -->
                            <div class="testimonial-block_one">
                                <div class="testimonial-block_one-inner">
                                    <div class="testimonial-block_one-quote">
                                        <i><img src="assets/images/icons/quote.svg" alt="" /></i>
                                    </div>
                                    <div class="testimonial-block_one-text">My 10-year-old daughter
                                        recently participated in the
                                        kids' sports bootcamp
                                        offered by Kidscamp, and I
                                        can't say enough positive
                                        things about her experience.
                                        From start to finish, the
                                        program incredibly
                                        well-organized, engaging,
                                        fun for kids of all
                                        levels.</div>
                                </div>
                            </div>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <!-- Testimonial Block One -->
                            <div class="testimonial-block_one">
                                <div class="testimonial-block_one-inner">
                                    <div class="testimonial-block_one-quote">
                                        <i><img src="assets/images/icons/quote.svg" alt="" /></i>
                                    </div>
                                    <div class="testimonial-block_one-text">My 10-year-old daughter
                                        recently participated in the
                                        kids' sports bootcamp
                                        offered by Kidscamp, and I
                                        can't say enough positive
                                        things about her experience.
                                        From start to finish, the
                                        program incredibly
                                        well-organized, engaging,
                                        fun for kids of all
                                        levels.</div>
                                </div>
                            </div>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <!-- Testimonial Block One -->
                            <div class="testimonial-block_one">
                                <div class="testimonial-block_one-inner">
                                    <div class="testimonial-block_one-quote">
                                        <i><img src="assets/images/icons/quote.svg" alt="" /></i>
                                    </div>
                                    <div class="testimonial-block_one-text">My 10-year-old daughter
                                        recently participated in the
                                        kids' sports bootcamp
                                        offered by Kidscamp, and I
                                        can't say enough positive
                                        things about her experience.
                                        From start to finish, the
                                        program incredibly
                                        well-organized, engaging,
                                        fun for kids of all
                                        levels.</div>
                                </div>
                            </div>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <!-- Testimonial Block One -->
                            <div class="testimonial-block_one">
                                <div class="testimonial-block_one-inner">
                                    <div class="testimonial-block_one-quote">
                                        <i><img src="assets/images/icons/quote.svg" alt="" /></i>
                                    </div>
                                    <div class="testimonial-block_one-text">My 10-year-old daughter
                                        recently participated in the
                                        kids' sports bootcamp
                                        offered by Kidscamp, and I
                                        can't say enough positive
                                        things about her experience.
                                        From start to finish, the
                                        program incredibly
                                        well-organized, engaging,
                                        fun for kids of all
                                        levels.</div>
                                </div>
                            </div>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <!-- Testimonial Block One -->
                            <div class="testimonial-block_one">
                                <div class="testimonial-block_one-inner">
                                    <div class="testimonial-block_one-quote">
                                        <i><img src="assets/images/icons/quote.svg" alt="" /></i>
                                    </div>
                                    <div class="testimonial-block_one-text">My 10-year-old daughter
                                        recently participated in the
                                        kids' sports bootcamp
                                        offered by Kidscamp, and I
                                        can't say enough positive
                                        things about her experience.
                                        From start to finish, the
                                        program incredibly
                                        well-organized, engaging,
                                        fun for kids of all
                                        levels.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="testimonial__nav swiper-container">
                    <div class="swiper-wrapper">
                        <div class="testimonial__nav-thumb swiper-slide">
                            <div class="thumb-content">
                                <h5>Esther Howard</h5>
                                <div class="designation">Mother of Lima</div>
                            </div>
                        </div>
                        <div class="testimonial__nav-thumb swiper-slide">
                            <div class="thumb-content">
                                <h5>Micheal Work</h5>
                                <div class="designation">Mother of Lima</div>
                            </div>
                        </div>
                        <div class="testimonial__nav-thumb swiper-slide">
                            <div class="thumb-content">
                                <h5>Lina Rose</h5>
                                <div class="designation">Mother of Lima</div>
                            </div>
                        </div>
                        <div class="testimonial__nav-thumb swiper-slide">
                            <div class="thumb-content">
                                <h5>Pollard Kite</h5>
                                <div class="designation">Mother of Lima</div>
                            </div>
                        </div>
                        <div class="testimonial__nav-thumb swiper-slide">
                            <div class="thumb-content">
                                <h5>Messey george</h5>
                                <div class="designation">Mother of Lima</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="testimonial__nav-arrow">
                    <!-- If we need navigation buttons -->
                    <div class="testimonial__nav-slider-prev fa-solid fa-angle-left fa-fw"></div>
                    <div class="testimonial__nav_slider-next fa-solid fa-angle-right fa-fw"></div>
                </div>

                <!-- If we need pagination -->
                <div class="testimonial__nav-pagination"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial One -->


<!-- Choose One -->
<section class="choose-one">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Content Column -->
            <div class="choose-one_content-column col-lg-8 col-md-12 col-sm-12">
                <div class="choose-one_content-outer">
                    <div class="row clearfix">
                        <!-- Choose Block One -->
                        <div class="choose-block_one col-lg-6 col-md-6 col-sm-12">
                            <div class="choose-block_one-inner">
                                <div class="choose-block_one-content">
                                    <div class="choose-block_one-icon">
                                        <i class="flaticon-volume"></i>
                                    </div>
                                    <h2 class="choose-block_one-title">1:1</h2>
                                    <div class="choose-block_one-text">Optimizing staffo-camper of
                                        the ratios for our
                                        personalized camp
                                        experiences.</div>
                                </div>
                            </div>
                        </div>

                        <!-- Choose Block One -->
                        <div class="choose-block_one col-lg-6 col-md-6 col-sm-12">
                            <div class="choose-block_one-inner">
                                <div class="choose-block_one-content">
                                    <div class="choose-block_one-icon">
                                        <i class="flaticon-trophy"></i>
                                    </div>
                                    <h2 class="choose-block_one-title">08+</h2>
                                    <div class="choose-block_one-text">Prestigious award signifies
                                        remark able achievement,
                                        this honoring dedication and
                                        excellence</div>
                                </div>
                            </div>
                        </div>

                        <!-- Choose Block One -->
                        <div class="choose-block_one col-lg-6 col-md-6 col-sm-12">
                            <div class="choose-block_one-inner">
                                <div class="choose-block_one-content">
                                    <div class="choose-block_one-icon">
                                        <i class="flaticon-mountain"></i>
                                    </div>
                                    <h2 class="choose-block_one-title">13+</h2>
                                    <div class="choose-block_one-text">Tailored programs designed
                                        meet the individual needs of
                                        each child, driven by
                                        innovation.</div>
                                </div>
                            </div>
                        </div>

                        <!-- Choose Block One -->
                        <div class="choose-block_one col-lg-6 col-md-6 col-sm-12">
                            <div class="choose-block_one-inner">
                                <div class="choose-block_one-content">
                                    <div class="choose-block_one-icon">
                                        <i class="flaticon-smile"></i>
                                    </div>
                                    <h2 class="choose-block_one-title">100%</h2>
                                    <div class="choose-block_one-text">Earning an impeccable
                                        rating on our commitment to
                                        transparency and
                                        effectiveness.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Title Column -->
            <div class="choose-one_title-column col-lg-4 col-md-12 col-sm-12">
                <div class="choose-one_title-outer">
                    <!-- Sec Title -->
                    <div class="sec-title title-anim">
                        <div class="sec-title_title">Reason to chose us</div>
                        <h2 class="sec-title_heading">Kids Bootcamp
                            <span>Explained</span>
                        </h2>
                        <div class="sec-title_text">Lorem ipsum dolor sit amet consectetur
                            adipiscing elit Ut et massa mi. Aliquam
                            in hendrerit urna. Pellentesque sit amet
                            sapien fringilla, matti ligula.</div>
                    </div>
                    <div class="choose-one_button">
                        <a href="classes.html" class="theme-btn btn-style-one">
                            <span class="btn-wrap">
                                <span class="text-one">Know more
                                    <i class="flaticon-next-1"></i></span>
                                <span class="text-two">Know more
                                    <i class="flaticon-next-1"></i></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Choose One -->

<!-- Team One -->
<section class="team-one">
    <div class="outer-container">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="sec-title_title">Meet the team</div>
                <h2 class="sec-title_heading">Meet Our Dedicated <span>Team</span> <br />
                    at Kids Bootcamp</h2>
            </div>
            <div class="inner-container">
                <div class="three-items_carousel swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <!-- Team Block One -->
                            <div class="team-block_one">
                                <div class="team-block_one-inner">
                                    <div class="team-block_one-image">
                                        <img src="assets/images/resource/team-1.png" alt="" />
                                        <div class="team-block_one-overlay">
                                            <!-- Social Box -->
                                            <div class="team-block_one-socials">
                                                <a href="https://facebook.com/"><i
                                                        class="fa-brands fa-facebook-f"></i></a>
                                                <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                                <a href="https://instagram.com/"><i
                                                        class="fa-brands fa-instagram"></i></a>
                                                <a href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-block_one-content">
                                        <h4 class="team-block_one-heading"><a href="team-detail.html">Ronald
                                                Richards</a></h4>
                                        <div class="team-block_one-designation">Sports Teacher</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <!-- Team Block One -->
                            <div class="team-block_one">
                                <div class="team-block_one-inner">
                                    <div class="team-block_one-image">
                                        <img src="assets/images/resource/team-2.png" alt="" />
                                        <div class="team-block_one-overlay">
                                            <!-- Social Box -->
                                            <div class="team-block_one-socials">
                                                <a href="https://facebook.com/"><i
                                                        class="fa-brands fa-facebook-f"></i></a>
                                                <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                                <a href="https://instagram.com/"><i
                                                        class="fa-brands fa-instagram"></i></a>
                                                <a href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-block_one-content">
                                        <h4 class="team-block_one-heading"><a href="team-detail.html">Guey
                                                Hawkins</a></h4>
                                        <div class="team-block_one-designation">PT Teacher</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <!-- Team Block One -->
                            <div class="team-block_one">
                                <div class="team-block_one-inner">
                                    <div class="team-block_one-image">
                                        <img src="assets/images/resource/team-3.png" alt="" />
                                        <div class="team-block_one-overlay">
                                            <!-- Social Box -->
                                            <div class="team-block_one-socials">
                                                <a href="https://facebook.com/"><i
                                                        class="fa-brands fa-facebook-f"></i></a>
                                                <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                                <a href="https://instagram.com/"><i
                                                        class="fa-brands fa-instagram"></i></a>
                                                <a href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-block_one-content">
                                        <h4 class="team-block_one-heading"><a href="team-detail.html">Courtney
                                                Henry</a></h4>
                                        <div class="team-block_one-designation">Sports Trainer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- If we need navigation buttons -->
                    <div class="team-one_arrows">
                        <div class="three-items_carousel-prev fas fa-angle-left fa-fw"></div>
                        <div class="three-items_carousel-next fas fa-angle-right fa-fw"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team One -->

<!-- Registration One -->
<section class="registration-one">
    <div class="registration-one_pattern" style="
                        background-image: url(assets/images/background/pattern-1.png);
                    "></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Title Column -->
            <div class="registration-one_title-column col-lg-6 col-md-12 col-sm-12">
                <div class="registration-one_title-outer">
                    <!-- Sec Title -->
                    <div class="sec-title title-anim">
                        <div class="sec-title_title">Registration Now!</div>
                        <h2 class="sec-title_heading">Register for Our Adventure
                            <span>Bootcamp</span> Today!
                        </h2>
                        <div class="sec-title_text">Lorem ipsum dolor sit amet consectetur
                            adipiscing elit Ut et massa mi. Aliquam
                            in hendrerit urna. Pellentesque sit amet
                            sapien fringilla, matti ligula
                            consectetur, ultrices mauris.</div>
                    </div>

                    <ul class="registration-one_list">
                        <li>
                            <i class="icon flaticon-call"></i>
                            Call Us Now <br />
                            <a href="#">302 555-0107</a>
                        </li>
                        <li>
                            <i class="icon flaticon-arroba"></i>
                            Mail Us Now <br />
                            <a href="#">support@kidscamp.com</a>
                        </li>
                        <li>
                            <i class="icon flaticon-maps-and-flags"></i>
                            Our Location <br />
                            <a href="#">1901 Cir. Shiloh, Hawaii 81063</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Title Column -->
            <div class="registration-one_form-column col-lg-6 col-md-12 col-sm-12">
                <div class="registration-one_form-outer">
                    <h3 class="registration-one_title">Bootcamp Registration</h3>

                    <!-- Default Form -->
                    <div class="default-form">
                        <form method="post" action="blog.html">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label>Child's Full Name</label>
                                    <input type="text" name="firstname" placeholder="" required="" />
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label>Guardian Name</label>
                                    <input type="text" name="lastname" placeholder="" required="" />
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label>Email Address</label>
                                    <input type="text" name="email" placeholder="" required="" />
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label>Phone Number</label>
                                    <input type="text" name="phone" placeholder="" required="" />
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label>Child's Age</label>
                                    <select name="currency" class="custom-select-box">
                                        <option>10 - 12</option>
                                        <option>13 - 15</option>
                                        <option>16 - 18</option>
                                        <option>19 - 21</option>
                                        <option>22 - 24</option>
                                    </select>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label>Medical
                                        Conditions/Allergies</label>
                                    <select name="currency" class="custom-select-box">
                                        <option>No</option>
                                        <option>Yes</option>
                                    </select>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <label>Additional Message</label>
                                    <textarea class="" name="message" placeholder=""></textarea>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <!-- Button Box -->
                                    <button type="submit" class="theme-btn btn-style-two">
                                        <span class="btn-wrap">
                                            <span class="text-one">Submit Now
                                                <i class="flaticon-next-1"></i></span>
                                            <span class="text-two">Submit Now
                                                <i class="flaticon-next-1"></i></span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- End Default Form -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Registration One -->

<!-- Blog One -->
<section class="blog-one">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="sec-title_title">Read our blog</div>
            <h2 class="sec-title_heading">Read Our Daily Kids <br />
                Bootcamp <span>Blog</span></h2>
        </div>
        <div class="row clearfix">
            <!-- News Block One -->
            <div class="news-block_one col-lg-4 col-md-6 col-sm-12">
                <div class="news-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="news-block_one-image">
                        <a href="blog-detail.html"><div style="width: 352px; height: 250px; overflow: hidden;">
                            <img src="assets/images/main-slider/image1i.jpg" alt=""  style="width: 100%; height: 100%; object-fit: cover;"/></a>
                            </div></a>
                    </div>
                    <div class="news-block_one-content">
                        <ul class="news-block_one-meta">
                            <li>By Admin</li>
                            <li>6 min read</li>
                        </ul>
                        <h4 class="news-block_one-title"><a href="blog-detail.html">Top 5 Benefits Bootcamp
                                Building
                                Confidence and Character</a></h4>
                        <a class="news-block_one-more" href="blog-detail.html">Read More
                            <i class="flaticon-next-1"></i></a>
                    </div>
                </div>
            </div>

            <!-- News Block One -->
            <div class="news-block_one col-lg-4 col-md-6 col-sm-12">
                <div class="news-block_one-inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="news-block_one-image">
                        <a href="blog-detail.html"><div style="width: 352px; height: 250px; overflow: hidden;">
                            <img src="assets/images/resource/about-2i.jpg" alt=""  style="width: 100%; height: 100%; object-fit: cover;"/></a>
                            </div></a>
                    </div>
                    <div class="news-block_one-content">
                        <ul class="news-block_one-meta">
                            <li>By Admin</li>
                            <li>6 min read</li>
                        </ul>
                        <h4 class="news-block_one-title"><a href="blog-detail.html">From Drills to Thrills A Day
                                in the
                                Life of a Kids Bootcamp</a></h4>
                        <a class="news-block_one-more" href="blog-detail.html">Read More
                            <i class="flaticon-next-1"></i></a>
                    </div>
                </div>
            </div>

            <!-- News Block One -->
            <div class="news-block_one col-lg-4 col-md-6 col-sm-12">
                <div class="news-block_one-inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="news-block_one-image">
                        <a href="blog-detail.html">
                            <div style="width: 352px; height: 250px; overflow: hidden;">
                            <img src="assets/images/resource/about-5i.jpg" alt=""  style="width: 100%; height: 100%; object-fit: cover;"/></a>
                            </div>
                    </div>
                    <div class="news-block_one-content">
                        <ul class="news-block_one-meta">
                            <li>By Admin</li>
                            <li>6 min read</li>
                        </ul>
                        <h4 class="news-block_one-title"><a href="blog-detail.html">How Kids Bootcamp Prepares
                                Young
                                Leaders Success</a></h4>
                        <a class="news-block_one-more" href="blog-detail.html">Read More
                            <i class="flaticon-next-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog One -->